<div class="col-md-8">
    <p>韶华文学社是一个以文学为总主题，由多样元素组成的社团，是北京十二中校园内极具影响力的社团之一。社刊《韶光流韵》是在校园中发行量最高，极受同学们欢迎的文学杂志。随着社团的不断成长，校园文学杂志的质量也在不断提升，彰显同学们的青春才华。</p>
    <p>我社于2012年2月16日成立，并举行了北京十二中第一本文学杂志《韶光流韵》的首发式。</p>
    <p>韶华文学社是学校语文组和校团委共同领导下的学生文学爱好者的社团组织，是每个有志在文学的伊甸园里生根发芽、开花结果的学生的沃土。</p>
    <p>主办：北京十二中韶华文学社</p>
    <p>顾问：李有毅校长</p>
    <p>编委：刘国富、潘亚欣、柳迎春</p>
    <p>指导老师：语文组全体老师</p>
    <p>技术支持：网络中心计算机教研组</p>
    <p>感谢：北京十二中宣传中心</p>
    <p>感谢：曾经的、现在的、将来的韶华文学社的全体成员与支持者</p>
    <p>特别感谢：陪伴着我们的您</p>
</div>
<div class="col-md-4">
    <div class="thumbnail">
        <h3></h3>
    </div>
</div>
