<div style="color:#FF0000">
<h1>Warning: You are using a Internet Explorer which is too old!</h1>
<h2>警告：您的IE网页浏览器版本过旧！</h2>
</div>
<p>推荐文章：</p>
<ul>
<li></li>
</ul>
<p>全部文章：</p>
<ul>
<li></li>
</ul>
