<small>
<p class="text-center">北京市第十二中学校园网网站 北京市第十二中学韶华文学社</p>
<p class="text-center">A Part of the Campus Website of Beijing Number Twelve High School. Shaohua Student Literary Society in Beijing Number Twelve High School in China, Organization.</p>
<p class="text-center">Articles Are Published Under Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International.</p>
<p class="text-center"><img src="http://ElsieHarvard.gitcafe.io/img/cc.svg"><img src="http://ElsieHarvard.gitcafe.io/img/by.svg"><img src="http://ElsieHarvard.gitcafe.io/img/nc.svg"><img src="http://ElsieHarvard.gitcafe.io/img/nd.svg"></p>
<!--
#==================================================================================================#
#=========================================== 测试服务器 ===========================================#
#==================================================================================================#
#============== No.15, YiZe Road, FengTai District, 100071, Beijing No.12 High School =============#
#============ sh.bj12hs.com.cn {京ICP备05069732;京公网安备110106000382号} bj12hs.com.cn ============#
#==================================================================================================#
-->
</small>