<a href="/article/<%=arc.arc_hash%>">
  <div class="cd-cover black-font">
    <h2 class="cov-title"><%=arc.arc_title%></h2>
    <h3 class="cov-author"><small><%=arc.arc_author%></small></h3>
  </div>
</a>