<a href="/article/<%=arc.archash%>">
  <div class="cd-cover black-font">
    <h2 class="cov-title"><%=arc.arctitle%></h2>
    <h3 class="cov-author"><small><%=arc.arcauthor%></small></h3>
  </div>
</a>