@media (min-width: 960px){
  .bbs-cont {
    position: relative;
    width: 950px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 2px 0 15px rgba(102,102,102,0.2),-2px 0 15px rgba(102,102,102,0.2);
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,"simsun","Noto Sans S Chinese","宋体";
    text-decoration: none;
  }
  .bbs-head {
    border-color: #ededed;
    padding: 30px 70px;
    border-bottom: 1px solid #ededed;
    min-height: 96px;
  }
  .bbs-title {
    font-size: 24px;
    line-height: 36px;
    width: 240px;
    float: left;
  }
  .bbs-title a {
    color: #606060;
    font-weight: bold;
  }
  .bbs-title a:hover {
    color: #000000;
  }
  .bbs-nav {
    position: relative;
    width: 280px;
    height: 20px;
    top: 28px;
    overflow: hidden;
    color: #888;
    line-height: 20px;
    display: block;
    float: right;
  }
  .bbs-nav ul {
    list-style-type: disc;
  }
  .bbs-nav li {
    float: left;
    padding: 0 34px 0 0;
  }
  .bbs-post {
    border-color: #ededed;
    position: relative;
    margin-top: 0px;
    padding-bottom: 7px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    position: relative;
    border-bottom: 1px solid #ededed;
    color: #666;
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
  }
  .bbs-post-withtitle {
    padding-top: 60px;
  }
  .bbs-arc-title {
    margin-bottom: 13px;
    text-align: center;
    height: 36px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
  }
}
