@font-face { 
  font-family: 'chinese';
  src: url('/fonts/NotoSansHans-Regular.otf'); 
} 

.chinese {
  font-family: 'Noto Sans S Chinese Light','Noto Sans S Chinese','STHeiti','华文细黑','黑体','Microsoft YaHei','chinese';
}
