@font-face { 
  font-family: 'chinese';
  src: url('/fonts/NotoSansHans-Regular.otf'); 
} 

.chinese {
  font-family: 'Noto Sans S Chinese Light','Noto Sans S Chinese','STHeiti','华文细黑','黑体','Microsoft YaHei','chinese';
}

.arc-indent {
  font-family: 'Noto Sans S Chinese Light','Noto Sans S Chinese','STHeiti','华文细黑','黑体','Microsoft YaHei','chinese';
  text-indent: 2em;
}

.cd-main-content {
  background: #fafafa;
  min-height: 100vh;
  z-index: 2;
}
.cd-cont {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 1170px) {
  .cd-cont{
    padding-left: 4em;
    padding-right: 4em;
  }
}
.non-margin-bottom {
  margin-bottom: 0;
}
.non-padding-left{
  padding-left: 0;
}
.non-padding{
  padding: 0;
}
.cd-head-fix{
  min-height: 0;
}
.unvisible{
  visibility: hidden;
}
.cd-qv-fix{
  min-height: 0;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.lh16{
  line-height: 16px;
}
.checkbox-label{
  display: inline;
}
.container2{
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 1170px) {
  .container2{
    padding-left: 2em;
    padding-right: 2em;
  }
}
.navlab{
  color: #FFFFFF;
}
@media only screen and (min-width: 1170px) {
  .navlab{
    color: #2e3233;
  }
}