@font-face { 
  font-family: "chinese";
  src: url("/fonts/NotoSansHans-Regular.otf");
} 

.chinese, .chine {
  font-family: "Noto Sans S Chinese Light","Noto Sans S Chinese","Microsoft YaHei","STHeiti","STXihei","SimHei","Droid Sans","chinese";
}

.arc-indent {
  font-family: "Noto Sans S Chinese Light","Noto Sans S Chinese","Microsoft YaHei","STHeiti","STXihei","SimHei","Droid Sans","chinese";
  text-indent: 2em;
}

.cd-main-content {
  background: #fafafa;
  /*min-height: 100vh;*/
  z-index: 2;
}
.cd-cont {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 1170px) {
  .cd-cont{
    padding-left: 4em;
    padding-right: 4em;
  }
}
.non-margin-bottom {
  margin-bottom: 0;
}
.non-padding-left{
  padding-left: 0;
}
.non-padding{
  padding: 0;
}
.cd-head-fix{
  min-height: 0;
}
.unvisible{
  visibility: hidden;
}
.cd-qv-fix{
  min-height: 0;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.lh16{
  line-height: 16px;
}
.checkbox-label{
  display: inline;
}
.container2{
  padding-left: 5%;
  padding-right: 5%;
}
.container3{
  padding-left: 15%;
  padding-right: 15%;
}
@media only screen and (min-width: 1170px) {
  .container2{
    padding-left: 2em;
    padding-right: 2em;
  }
  .container3{
    padding-left: 8em;
    padding-right: 8em;
  }
}
.navlab{
  color: #FFFFFF;
}
@media only screen and (min-width: 1170px) {
  .navlab{
    color: #003f58;
  }
}

.cd-cover .cov-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 4em;
}
.cd-cover .cov-author {
  text-align: right;
  margin-top: 0.5em;
  margin-right: 1.5em;
  margin-bottom: 0;
}
.black-font {
  color: #000000;
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav .cd-secondary-nav ul {
    padding-left: 2px;
  }
}
.cd-cover {
  background: #FFFFFF;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 8em;
  padding-bottom: 4em;
}
@media only screen and (max-width: 320px) {
  .cd-cover {
    padding-left: 2.5em;
    padding-right: 2.5em;    
  }
}
.footer {
  background: #FFFFFF;
  padding: 2em;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px; 
  bottom: 0;
  z-index: 0;
}

.paddingright2em {
  padding-right: 2em;
}

.cd-overlay {
  background-color: rgba(32, 32, 32, 0.7);
}
.cd-primary-nav .cd-secondary-nav a:hover {
  color: #ffffff;
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav .cd-secondary-nav a:hover {
    color: #003f58;
  }
  .cd-primary-nav .cd-secondary-nav > li > a {
    color: #003f58;
  }
  .cd-primary-nav > li > a.selected {
    color: #003f58;
    box-shadow: inset 0 -2px 0 rgba(0, 63, 88, 0.6);
  }
  .cd-primary-nav > li > a:hover {
    color: #009bd7;
  }
  .cd-primary-nav > li > a.selected {
    color: #003f58;
    box-shadow: inset 0 -2px 0 #003f58;
  }
  .cd-primary-nav .see-all a {
    color: #003f58;
  }
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
  color: #003f58;
  font-size: 1.25em;
  text-align: center;
}
.cd-cover-2 {
  background: rgba(255,255,255,0.6);
}
.cd-cover-li-2 {
  background-size: cover;
}
.cd-main-content {

}
.prd-arct {
  float: left;
}
.prd-arca {
  float: right;
}
.pt2020nav {
  box-shadow: 2px 0 15px rgba(102,102,102,0.2),-2px 0 15px rgba(102,102,102,0.2);
  border: 1px solid #ededed;
}
@media only screen and (max-width: 1170px) {
  .cd-primary-nav .cd-nav-gallery .cd-nav-item .pt2020nav {
    display: none;
    margin-bottom: 0;
  }
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item .pt2020nav img {
  margin-bottom: 0;
}
@media only screen and (max-width: 1170px) {
  .cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
    color: #ffffff;
    text-align: left;
    padding: 0;
    font-size: 16px;
  }
  .cd-primary-nav .cd-nav-gallery .cd-nav-item {
    padding: 0;
    height: auto;
  }
}
canvas#main  {
  width: 100%;
  height: 540px;
}
@media only print {
  .cd-main-header, .footer, .landscape {
    display: none;
  }
}
.nummarg {
  padding-top: 1.5em;
}
button2 {
  position: relative;
  background-color: #e91e63;
  border: none;
  width: 120px;
  height: 36px;
  overflow: hidden;
  color: #fff;
  border-radius: 4px;
  outline: none;
  border-color: #adadad;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
}
button2 > div {
  position:absolute;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
}