<li class="cd-admin-tag">
    <p>论坛管理：<br><small>Forum Administration:</small></p>
</li>
<ul class="cd-admin-info">
    <li>发布文章：<br><small>Publish Article:</small><br><a href="/article/new">+</a></li>
    <li>发布期刊：<br><small>Publish Periodical:</small><br><a href="/periodical/new">+</a></li>
    <li>统计数据：<br><small>Data Analysis:</small><br><a href="/web_admin/dashboard">+</a></li>
</ul>
