<p>北京十二中细雨韶光开放文学论坛</p>
<p><small>Light Drizzle Open Literary Forum at Beijing Number Twelve High School in China, Organization.</small></p>
<!--
#==================================================================================================#
#=========================================== TestServer ===========================================#
#==================================================================================================#
-->
