<%= form_tag({:controller=>"web_global", :action=>'usrlogin'},
             {:method=>"post",:class=>"form-horizontal",:id=>"login",
              :onsubmit=>"return usrlogin();",
              }) do %>
  <div class="form-group">
    <label for="inputUserName" class="col-lg-2 control-label navlab">用户名：</label>
    <div class="col-lg-4">
      <%= text_field "usrinfo","usrname", :class=>"form-control", :id=>"inputUserName", :placeholder=>"请输入用户名...",:required=>"true"%>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-lg-2 control-label navlab">密码：</label>
    <div class="col-lg-4">
      <%= text_field "usrinfo","usrpassword", :type=>"password",:class=>"form-control", :id=>"inputPassword", :placeholder=>"请输入密码...",:required=>"true"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <button type="submit" class="btn btn-default col-lg-6">登录</button>
      <button class="btn btn-default col-lg-6" onclick="return usrsignup();">注册</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4 navlab">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="rememberme"> 今后自动登录
        </label>
      </div>
    </div>
  </div>
<% end %>
