<p>&nbsp;</p>
<%title @prd.prdtitle+' - '%>
<div class="cd-cont">
    <div class="panel panel-default">
        <div class="panel-heading"><h3><%=@prd.prdtitle%></h3></div>
        <div class="panel-body">
            <table class="table table-striped" style="word-break:break-all;word-wrap:break-all;">
                <thead><tr><th width="60%">题目</th><th width="40%">作者</th></tr></thead>
                <tbody>
                    <%@prd.prdpages.each_line do |hsh|%>
                    <%w=getarcsh(hsh)%>
                        <tr>
                            <td><%=link_to w.arctitle,'/article/'+w.archash%></td>
                            <td><%=link_to w.arcauthor,'/bbs/'+mkhsh(w.arcauthor)%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>