<ul class="lh16 non-padding-left non-margin-bottom">
  <% @prdlst.sort_by{|e|e.prdno}.each do |w| %>
    <li style="background-image: url(/periodical/cover/<%=w.prdhash%>.jpg)" class="cd-cover-li">
        <a href="/periodical/<%=w.prdhash%>">
          <div class="cd-cover black-font">
            <h2 class="cov-title"><%=w.prdtitle%></h2>
            <h3 class="cov-author"><small><%=w.prdinfo%></small></h3>
          </div>
        </a>
    </li>
  <% end %>
</ul>